@using RehabilitationSystem.ViewModels.Announcement;

@model AddAnnouncement

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Create Announcement</h1>
            <hr />
            <form method="post" class="forms-sample">
                <div class="form-group">
                    <label asp-for="Title">Title</label>
                    <input asp-for="Title" type="text" class="form-control" id="exampleInputName1" placeholder="">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content">Content</label>
                    <textarea asp-for="Content" id="editor" style="display: none; height: 500px" rows="10" placeholder="Type something..."></textarea>
                    <script>
                        ClassicEditor
                            .create(document.querySelector('#editor'))
                            .then(editor => {
                                console.log(editor);
                            })
                            .catch(error => {
                                console.error(error);
                            });
                    </script>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <button type="reset" class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>

