<div class="card card-body">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
                <div class="d-flex align-items-end flex-wrap">
                    <div class="me-md-3 me-xl-5">
                        <h2>Program and Session</h2>
                        <br />
                        <div class="mb-md-0">
                            <a asp-controller="Program" asp-action="Create" class="btn btn-success">
                                <i class="mdi mdi-plus" style="font-size:15px"></i> &nbsp Create New Program
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="row">
        <div class="col-md-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Program List</p>
                    <div class="table-responsive">
                        <table id="recent-purchases-listing" class="table">
                            <thead>
                                <tr>
                                    <th>Program Name</th>
                                    <th>Program Price</th>
                                    <th>unknown</th>
                                    <th>unknown</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @* @foreach (var obj in Model)
                                    {
                                        <tr>
                                            <td>@obj.Name</td>
                                            <td>dummydata</td>
                                            <td>dummydata</td>
                                            <td>dummydata</td>
                                            <td>
                                                <a onclick="" class="btn btn-danger col-sm-4 col-md-2 col-lg-4">
                                                    <i class="mdi mdi-delete-forever"></i> <p>Delete</p>
                                                </a>
                                            </td>
                                        </tr>
                                    } *@
                                <tr>
                                    <td>dummydata</td>
                                    <td>dummydata</td>
                                    <td>dummydata</td>
                                    <td>dummydata</td>
                                    <td>
                                        <a onclick="" class="btn btn-icon mt-1">
                                            <i class="mdi mdi-border-color" style="color:blue; font-size:25px;"></i>
                                        </a>
                                        <a onclick="Delete('')" class="btn btn-icon">
                                            <i class="mdi mdi-delete-forever" style="color:red; font-size:25px;"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>dummydata</td>
                                    <td>dummydata</td>
                                    <td>dummydata</td>
                                    <td>dummydata</td>
                                    <td>
                                        <a onclick="" class="btn btn-icon mt-1">
                                            <i class="mdi mdi-border-color" style="color:blue; font-size:25px;"></i>
                                        </a>
                                        <a onclick="Delete('')" class="btn btn-icon">
                                            <i class="mdi mdi-delete-forever" style="color:red; font-size:25px;"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function Delete(url) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        success: function (data) {
                            dataTable.ajax.reload();
                        }
                    })
                }
            })
        }
    </script>
